
<!-- My Account Start -->
<div class="my-account">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                    <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab">Orders</a>
                    <a class="nav-link" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab">Payment Method</a>
                    <a class="nav-link active" id="account-nav" data-toggle="pill" href="#account-tab" role="tab">Account Details</a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>No</th>
                                        <th>Product</th>
                                        <th>Date</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Product Name</td>
                                        <td>01 Jan 2020</td>
                                        <td>$22</td>
                                        <td>Approved</td>
                                        <td><button>View</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="payment-tab" role="tabpanel" aria-labelledby="payment-nav">
                        <h4>Payment Method</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum quam ac mi viverra dictum. In efficitur ipsum diam, at dignissim lorem tempor in. Vivamus tempor hendrerit finibus. Nulla tristique viverra nisl, sit amet bibendum ante suscipit non. Praesent in faucibus tellus, sed gravida lacus. Vivamus eu diam eros. Aliquam et sapien eget arcu rhoncus scelerisque.
                        </p> 
                    </div>
                    <div class="tab-pane fade show active" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                        <h4>Account Details</h4>
                        <form method="post" action="/profile" class="row">
                            <div class="col-lg-8">
                                <div class="card mb-4"> 
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0"></p>
                                            </div>
                                    </div>
                                    <div class="row">
                                    <div class="col">
                                        {{#if user}}
                                        {{#showPro}}
                                        <label for="email">Email: </label>
                                        <input name='email' id="email" type="text" value="{{email}}">
                                        {{/showPro}}
                                        {{else}}
                                        <p class="mb-0">Email</p>
                                        {{/if}}
                                    </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                    <div class="col">
                                        {{#if user}}
                                        {{#showPro}}
                                        <label for="phone">Phone: </label>
                                        <input name='phone' id="phone" type="text" value="{{phone}}">
                                        {{/showPro}}
                                        {{else}}
                                        <p class="mb-0">Phone</p>
                                        {{/if}}
                                    </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                    <div class="col">
                                        {{#if user}}
                                        {{#showPro}}
                                        <label for="account">Account: </label>
                                        <p><input name='account' id="account" type="hidden" value="{{account}}">{{account}}</p>
                                        {{/showPro}}
                                        {{else}}
                                        <p class="mb-0">Account</p>
                                        {{/if}}
                                    </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                    <div class="col">
                                        {{#if user}}
                                        {{#showPro}}
                                        <label for="name">Name: </label>
                                        <input name='name' id="name" type="text" value="{{name}}">
                                        {{/showPro}}
                                        {{else}}
                                        <p class="mb-0">Name</p>
                                        {{/if}}
                                    </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                    <div class="col">
                                        {{#if user}}
                                        {{#showPro}}
                                        <label for="address">Address: </label>
                                        <input name='address' id="address" type="text" value="{{address}}">
                                        {{/showPro}}
                                        {{else}}
                                        <p class="mb-0">Address</p>
                                        {{/if}}
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-lg-4">
                                <button type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- My Account End -->


